html,
body {
    padding: 0;
    margin: 0;
    font-family: Inter, 'Roboto', sans-serif;
    text-align: center;
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem
}

h3 {
    font-size: 2rem;
}

ul {
    list-style: unset;
    padding: 0;
}
table {
    border-collapse: separate;
    background-color: #fdfdfd;/*#fafafa;*/
    margin: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    border-spacing: 0;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
thead {
    border-radius: 20px;
    color: var(--nextui-colors-accents7);
}


thead > tr:first-child {
    border-radius: 20px;
    padding: 1rem;
}
thead > tr:first-child > th:first-child {
    border-radius: 20px 0 0 20px;
    background-color: #f1f3f5;
}
thead > tr:first-child > th:last-child {
    border-radius: 0 20px 20px 0;
    background-color: #f1f3f5;
}
thead > tr:first-child > th:not(:first-child):not(:last-child) {
    border-radius: 0;
    background-color: #f1f3f5;
}

td, th {
    padding: 0.4rem;
    text-align: left;
}

th:first-child, td:first-child {
    padding-left: 1.2rem;
}
th:last-child, td:last-child {
    padding-right: 1.2rem;
}

pre {
    word-wrap: break-word;
}

code {
    word-wrap: break-word;
    word-break: break-all;
}